<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: MetaLinks">...</th:block>
    <title>Title</title>

</head>
<body>
<a href="/add">New Post</a>

<div class="container.fluid">
<div th:each="todo : ${todos}">
    <div class="card" >
    <h4>[[${todo.name}]]</h4>
    <h6>Due: <b>[[${todo.duedate}]]</b></h6>
    <div>Priority: [[${todo.priority}]]</div>
    <div th:switch="${todo.complete}">
        <span th:case="complete"  class="glyphicon glyphicon-ok"></span>
        <span th:case="incomplete"  class="glyphicon glyphicon-remove"></span>
    </div>
     <p>[[${description}]]</p>
    </div>
</div>
</div>
<th:block th:replace="/base :: bootstrap">...</th:block>
</body>
</html>